<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/common/func.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>
